{{define "node" -}}
{{.IndentString}}<{{.Type}} {{- if .Name}} name="{{.Name}}"{{end}} {{- range $key, $val := .Keys}} {{$key}}="{{$val}}"{{end}}>
{{- .Content}}
{{.IndentString}}{{range $node := .Body}}{{ template "node" $node }}{{end -}}
{{.IndentString}}</{{.Type}}>
{{end}}
{{- template "node" . }}
